<%- include('partials/header.ejs') %>
<main class="error-container">
  <h2><%= t('errors.pageNotFound') %></h2>
  <p><%= t('errors.unexpectedError') %></p>
  <a href="/"><%= t('navigation.home') %></a>
</main>
<%- include('partials/footer.ejs') %>
